body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin: 10px;
}

.container{
    width: 70%;
    text-align: center;
    padding: 20px;
    border: 1px solid;
    margin: 0px auto;
}

.cabecera{
    margin: 0px auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 70%;
    background-color: blue;
    color: aliceblue;
    box-shadow: -5px -5px gray;
    border-radius: 5px;
}

.cabecera:hover{
    margin: 0px auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 70%;
    background-color: blue;
    color: aliceblue;
    box-shadow: 3px 3px gray;
    border-radius: 5px;
}

.footer{
    width: 70%;
    margin: auto;
    padding-top: 10px;
}

.footer_container{
    background-color: aqua;
    border: solid;
    padding-top: auto;
}